.idea
.vagrant
vendor
config/core.yml
config/countries.yml
config/customer.yml
config/navigation.yml
config/secrets.yml
config/shop.yml
customization/*
!customization/src/readme.md
!customization/src/Classes/readme.md
!customization/src/Controller/readme.md
!customization/pages/readme.md
!customization/views/readme.md
!customization/routes.dist.yml
